<style>
  .em-panel-actions {
    margin: 0
  }

</style>

<div class="container">
  <h4>Accounts:</h4>
  <div class="well">
    <div class="clearfix container-fluid">
    <% if @accounts.size != 0 %>
      <% @accounts.each do |account| %>
        <div class="item col-xs-12 col-md-6 col-lg-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <%= account.name %>
            </div>
            <div class="panel-body">
              <strong>Balance:</strong>
              <%= account.current_balance %>
            </div>
            <div class="em-panel-footer panel-footer clearfix">
              <ul class="em-panel-actions list-inline pull-right">
                <li>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= account.id %>" >
                    Debit/Credit
                  </button>
                </li>
                <li>
                  <%= form_tag(payment_account_path(account), method: 'delete', class: 'form-inline', role: 'form') do %>
                    <%= submit_tag("Delete", class: 'btn btn-danger') %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <%= link_to "Create new account...", payment_accounts_path %>
    <% else %>
      <p>You do not have any accounts</p>

      <%= link_to "Create new account...", payment_accounts_path %>
    <% end %>
  </div>

  <% if @accounts.size != 0 %>
    <div class="panel panel-danger">
      <div class="panel-heading">DANGER ZONE</div>
      <div class="panel-body">
        <%= form_tag(payment_accounts_path, method: 'delete', role: 'form') do %>
          <%= submit_tag("Delete All", class: 'btn btn-danger') %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% @accounts.each do |account| %>
  <div class="modal fade" id="myModal<%= account.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Account: <%= account.name %></h4>
        </div>
        <%= form_tag(payment_account_op_path(account), method: 'post', role: 'form') do %>
          <div class="modal-body">
            <div class="form-group">
              <%= label_tag :op, 'Operation', class: 'control-label'%>
              <%= select_tag :op, options_for_select([ :debit, :credit], :debit), class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= label_tag :ammount, 'Ammount', class: 'control-label'%>
              <%= number_field_tag :ammount, nil, class: 'form-control', placeholder: "1.0" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag("Submit", class: 'btn btn-success') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
